<h1>User's list</h1>

<div>
<%  for(let i = 0; i < users.length; i++){ %>
    <div>
        <h3><%=users[i].username%></h3>
        <a><%=users[i].contactEmail%></a>
        <h4><%=users[i].contactNumber%></h4>    
    </div>
<% } %>

</div>

<h2> Will's lists</h2>

<div>
    <%  for(let i = 0; i < wills.length; i++){ %>
    <div>
        <h3><%=wills[i].username%></h3>
        <a><%=wills[i].contactEmail%></a>
        <h4><%=wills[i].contactNumber%></h4>    
    </div>
<% } %>
</div>